.contentProjects::-webkit-scrollbar {
  -webkit-appearance: none;
}

.contentProjects::-webkit-scrollbar:vertical {
  width:10px;
}

.contentProjects::-webkit-scrollbar-button:increment,.contentProjects::-webkit-scrollbar-button {
  display: none;
} 

.contentProjects::-webkit-scrollbar:horizontal {
  height: 10px;
}

.contentProjects::-webkit-scrollbar-thumb {
  background-color: #2cb67d;
  border: 2px solid #16161a;
  border-radius: 20px;
}

.contentProjects::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.contentProjects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  height: 61vh;
  overflow-y: scroll;
  padding: 0 4em;
  margin-top: 1.2em;
}
.textInit{
  margin: 0;
  padding-left: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.labelDo{
  color: #fff;
  padding: 0 1em;
}
.down{
  color: #72757e;
  font-size: 1em;
  margin: 0;
  padding-left: 1.6em;
  padding-top: .5em;
}
.container_item {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(12, 11, 11, 0.753);
  
  
}
.container_item > h2 {
  background-color: #c0bdbd;
  margin: 0;
  padding: 0.5em 0;
  border-radius: 5px 5px 0px 0px;
  color:black;
}
.container_item > p {
  margin: 0;
  display: inline-block;
  padding: 1em;
  
  background-color: #16161a;

  color: white;
  /* text-align: justify; */
  line-height: 1.5em;
  width: 100%;
}
.container_img {
  width: 100%;
  height: 30vh;
  position: relative;
  overflow: hidden;
}
.container_item_tec {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background-color: #c0bdbd;
  
  border-radius: 0px 0px 5px 5px;
  
}
.container_item_tec > p{
  color: black;
  
}
.item_tec {
  padding: 0em .4em;
  border: 1px solid rgba(53, 49, 49, 0.5);
  margin: 0.5em;
  font-size: .8em;
  display: flex;
  justify-content:center;
  align-items: center;
  border-radius: 5px;
  background-color: #16161a;
}
.item_tec > p {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.644);
  font-weight: bold;
}
.container_btn {
  
  align-items: center;
  background: rgba(0, 0, 0, 0.795);
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 1000;
}

.container_btn > a {
  background-color: #7f5af0;
  color: #fffffe;
  padding: 1em;
  border: 1px solid #fffffe;
  transition: all 0.3s ease-in-out;
  margin: 0 1em;
}
.container_btn > a:hover {
  background-color: #5a34cc;
  border: 1px solid rgba(255, 255, 255, 0.37);
}
.img {
  cursor: pointer;
}
.img:hover + .container_btn {
  transform: translateX(0);
}
.container_btn:hover {
  transform: translateX(0);
}

.container_btn_movil{
  display: none;
}

@media screen and (max-width:768px){
  .contentProjects {
    grid-template-columns: repeat(1, 1fr);
    gap: 4em;
    height: 69vh;
    padding: 0 4em;
    margin-bottom: 1em;
    width: 100%;
    margin: 1em auto;
    
  }
  .container_btn{
    display: none;
  }

  .container_btn_movil{
    /* background-color: #fff; */
    padding: .5em 0;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    
  }
  .container_btn_movil > a{
    background-color: #7f5af0;
    color: #fffffe;
    padding: 1em;
    border: 1px solid white;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    width: 45%;
    /* flex:1; */
    /* margin:  0 1em; */
    
  }
  .container_btn_movil > a:active{
    background-color: #5a34cc;
  }
}

@media screen and (max-width:470px){
  .contentProjects {
    padding: 0 .5em;
  }
}