.contentProjects::-webkit-scrollbar {
  display: none;
}
.contentProjects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  height: 61vh;
  overflow-y: scroll;
  padding: 0 4em;
  margin-top: 1.2em;
}
.textInit{
  margin: 0;
  padding-left: 1em;
  font-size: 1.5em;
  font-weight: bold;
}

.labelDo{
  color: #fff;
  padding: 0 1em;
}
.down{
  color: rgba(0, 0, 0, 0.699);
  font-size: 1em;
  margin: 0;
  padding-left: 1.6em;
  padding-top: .5em;
}
.container_item {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(12, 11, 11, 0.753);
  
  
}
.container_item > h2 {
  background-color: rgb(196, 196, 196);
  margin: 0;
  padding: 0.5em 0;
  border-radius: 5px 5px 0px 0px;
}
.container_item > p {
  margin: 0;
  display: inline-block;
  padding: 1em;
  background: rgb(45, 42, 192);
  color: white;
  text-align: justify;
  line-height: 1.5em;
  width: 100%;
}
.container_img {
  width: 100%;
  height: 30vh;
  position: relative;
  overflow: hidden;
}
.container_item_tec {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  background-color: rgb(196, 196, 196);
  border-radius: 0px 0px 5px 5px;
  
}
.container_item_tec > p{
  color: black;
  
}
.item_tec {
  padding: 0em .4em;
  border: 1px solid rgba(53, 49, 49, 0.5);
  margin: 0.5em;
  font-size: .8em;
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: rgba(26, 24, 24, 0.582); 
  border-radius: 5px;
}
.item_tec > p {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.644);
  font-weight: bold;
}
.container_btn {
  position: absolute;
  background: rgba(0, 0, 0, 0.795);
  width: 100%;
  color: white;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
}

.container_btn > a {
  background-color: rgba(0, 0, 0, 0.753);
  padding: 1em;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
  margin: 0 1em;
}
.container_btn > a:hover {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.37);
}
.img {
  cursor: pointer;
}
.img:hover + .container_btn {
  transform: translateX(0);
}
.container_btn:hover {
  transform: translateX(0);
}

@media screen and (max-width:768px){
  .contentProjects {
    grid-template-columns: repeat(1, 1fr);
    gap: 4em;
    height: 69vh;
    padding: 0 4em;
    margin-bottom: 1em;
    width: 100%;
    margin: 1em auto;
  }
}

@media screen and (max-width:470px){
  .contentProjects {
    padding: 0 1em;
  }
}